@{
    ViewData["Title"] = "Home Page";
}

<div class="home_wrapper">
    <div class="home_container1">
        <div class="home_container1_img">
            <img src="~/images/me.png">
        </div>
    </div>
    <div class="home_container2">
        <div class="home_desc">
            <h1>Wellcome!</h1>
            <p>Hello! I'm Kristiyan Tonev, a passionate Software Engineer. Here you can take a look at my work, learn about my skills, and feel free to get in touch if you'd like to collaborate on a project or just say hello! Learn more about me in the about section.</p>
            <a href="">Explore more</a>
        </div>
    </div>
</div>
<div class="aboutMe">
    <div class="about_watermark"><nobr>ABOUT ME</nobr></div>
    <div class="about_info">
        <img src="~/images/x.png" class="x_img">
        <p class="about_info_text">
            I’m Kristiyan Tonev, a 23-year-old IT student with over 2 years of professional experience as a Java back-end developer. My expertise lies in designing, developing, and maintaining large scale server-side applications. I have been working in a team environment for a long time and collaborating with many cross-functional teams. Let's get in touch! Always happy to chat about what you're looking for and why I'm the right choice!
        </p>
        <img src="~/images/x.png" class="x_img">
    </div>
</div>
