@{
    ViewData["Title"] = "Skills Page";
}

<div class="skills_container">
    <h1>My Skills</h1>
    <h3>as a Software Developer</h3>
    <div class="skills_content">
        <h2>Back-End Technologies</h2>
        <div class="skills_icons">
            <img src="~/images/java.png">
            <img src="~/images/python.png">
            <img src="~/images/c-sharp.png">
            <img src="~/images/java-script.png">
        </div>
    </div>
    <div class="skills_content">
        <h2>Front-End Technologies</h2>
        <div class="skills_icons">
            <img src="~/images/html.png">
            <img src="~/images/css.png">
            <img src="~/images/react.png">
        </div>
    </div>
    <div class="skills_content">
        <h2>Framework Technologies</h2>
        <div class="skills_icons">
            <img src="~/images/spring.png">
            <img src="~/images/aspnet.png">
            <img src="~/images/jquery.png">
        </div>
    </div>
    <div class="skills_content">
        <h2>Database Technologies</h2>
        <div class="skills_icons">
            <img src="~/images/mysql.png">
            <img src="~/images/sqlserver.png">
            <img src="~/images/mongo.png">
        </div>
    </div>
</div>
